<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StaskoFy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StaskoFy.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-pV3L+3yxGr6pXKZpL+qvWQFdybgQbsA3R1Rl1M1lQ+k0G5Y/J44l3rDrYy/+YpzA0d1GfD0ZwW2bNyzOOk+6xA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">StaskoFy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="30" height="30" class="me-2"><!--!Font Awesome Free v7.2.0 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="rgb(255, 255, 255)" d="M304 70.1C313.1 61.9 326.9 61.9 336 70.1L568 278.1C577.9 286.9 578.7 302.1 569.8 312C560.9 321.9 545.8 322.7 535.9 313.8L527.9 306.6L527.9 511.9C527.9 547.2 499.2 575.9 463.9 575.9L175.9 575.9C140.6 575.9 111.9 547.2 111.9 511.9L111.9 306.6L103.9 313.8C94 322.6 78.9 321.8 70 312C61.1 302.2 62 287 71.8 278.1L304 70.1zM320 120.2L160 263.7L160 512C160 520.8 167.2 528 176 528L224 528L224 424C224 384.2 256.2 352 296 352L344 352C383.8 352 416 384.2 416 424L416 528L464 528C472.8 528 480 520.8 480 512L480 263.7L320 120.3zM272 528L368 528L368 424C368 410.7 357.3 400 344 400L296 400C282.7 400 272 410.7 272 424L272 528z" /></svg></a>
                        </li>
                        @if ((User?.Identity?.IsAuthenticated ?? false) && (User.IsInRole("Admin")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Genres</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-controller="Genre" asp-action="Index">View genres</a>
                                    <a class="dropdown-item text-white" asp-controller="Genre" asp-action="Create">Create genre</a>
                                </div>
                            </li>
                        }
                        else if ((User?.Identity?.IsAuthenticated ?? false) && (User.IsInRole("Artist")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Songs</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-controller="Song" asp-action="Index">View your songs</a>
                                    <a class="dropdown-item text-white" asp-controller="Song" asp-action="Create">Create a song</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Albums</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-controller="Album" asp-action="IndexForLoggedArtist">View your albums</a>
                                    <a class="dropdown-item text-white" asp-controller="Album" asp-action="Create">Create an album</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Playlists</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-controller="Playlist" asp-action="IndexForCurrentLoggedUser">View your playlists</a>
                                    <a class="dropdown-item text-white" asp-controller="Playlist" asp-action="Create">Create a playlist</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="LikedSongs" asp-action="Index">Your Liked Songs</a>
                            </li>
                        }
                        else if ((User?.Identity?.IsAuthenticated ?? false) && (User.IsInRole("User")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View your playlists</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-white" asp-controller="Playlist" asp-action="IndexForCurrentLoggedUser">View your playlists</a>
                                    <a class="dropdown-item text-white" asp-controller="Playlist" asp-action="Create">Create a playlist</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Album" asp-action="IndexForAllUsers">Browse Albums</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="LikedSongs" asp-action="Index">Your Liked Songs</a>
                            </li>
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - StaskoFy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>