<div class="container py-5">
    <div class="text-center text-light">
        <h1 class="display-4 fw-bold mb-3">
            Welcome to <span class="specific_heading">StaskoFy</span>
        </h1>
        <p class="lead text-secondary mb-4">
            Music Streaming Platform. Create an account or log in to an existing one.
        </p>
        <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="card shadow-lg p-5 text-center login-register-card" style="max-width: 650px; width: 100%;">
                <div class="card-body">
                    <h4 class="card-title mb-5 fw-bold">Log in or Create an Account</h4>

                    <div class="d-flex justify-content-center gap-3">
                        <a asp-controller="User" asp-action="Login" class="btn btn-outline-warning btn-lg">
                            Log in
                        </a>

                        <a asp-controller="User" asp-action="Register" class="btn btn-outline-warning btn-lg">
                            Register
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>