@model HomeUserIndexViewModel

<div class="text-center mb-5 fade-in-up">
    <h1 class="display-4 fw-bold mb-3">
        Welcome to <span class="specific_heading">StaskoFy</span>
    </h1>

    <p class="lead text-muted mb-1">
        Discover new music, explore albums, and enjoy projects created by your favorite artists.
    </p>
</div>

<div class="container fade-in-up" style="animation-delay: 0.2s;">
    <div class="text-center text-light">
        <div class="row text-center justify-content-center text-center mb-5 g-4">
            <div class="col-md-4">
                <div class="card shadow-sm user-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Total Playlists</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2" style="color: #ffc107;">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalPlaylistByUser
                        </p>
                        <a asp-controller="Library" asp-action="MyLibraryIndex" class="btn btn-outline-warning btn-md">Manage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm user-manage-card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Total Liked Songs</h5>
                        <p class="card-text fw-semibold">
                            <svg viewBox="0 0 640 640" height="24" width="24" class="me-2" style="color: #ffc107;">
                                <path fill="currentColor" d="M532 71C539.6 77.1 544 86.3 544 96L544 400C544 444.2 501 480 448 480C395 480 352 444.2 352 400C352 355.8 395 320 448 320C459.2 320 470 321.6 480 324.6L480 207.9L256 257.7L256 464C256 508.2 213 544 160 544C107 544 64 508.2 64 464C64 419.8 107 384 160 384C171.2 384 182 385.6 192 388.6L192 160C192 145 202.4 132 217.1 128.8L505.1 64.8C514.6 62.7 524.5 65 532.1 71.1z" />
                            </svg>@Model.TotalLikedSongsByUser
                        </p>
                        <a asp-controller="LikedSongs" asp-action="Index" class="btn btn-outline-warning btn-md">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>