@model AlbumCreateViewModel

<div class="row justify-content-center mt-3">​
    <div class="col-12 col-md-6 col-lg-6 border-2 border border-dark rounded-3 p-3 fs-5">​
        <h2 class="text-center">Create album</h2>​
        <section>​
            <form method="post" asp-action="Create">​
                <hr />​
                <div class="form-group text-center">​
                    <label asp-for="@Model.Title" class="form-label"></label>​
                    <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>​

                <div class="form-group text-center mb-3">
                <label class="form-label">Hours-Minutes-Seconds</label>
                <div class="d-flex gap-2">
                    <input asp-for="Hours" type="number" min="0" max ="59" class="form-control"placeholder="Hours" />
                    <input asp-for="Minutes" type="number" min="0" max ="59" class="form-control"placeholder="Min" />
                    <input asp-for="Seconds" type="number" min="0" max="59" class="form-control" placeholder="Sec" />
                </div>
                <span asp-validation-for="Hours" class="text-danger"></span>
                <span asp-validation-for="Minutes" class="text-danger"></span>
                <span asp-validation-for="Seconds" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="SelectedArtistIds" class="form-label">Selected Features</label>
                    <select asp-for="SelectedArtistIds" asp-items="Model.Artists" id="artistSelect" multiple class="form-select"></select>
                </div>

                <div class="form-group text-center">​
                    <label asp-for="@Model.ImageURL" class="form-label"></label>​
                    <input asp-for="@Model.ImageURL" class="form-control" aria-required="true" />
                    <span asp-validation-for="ImageURL" class="text-danger"></span>
                </div>​

                <div class="text-center">​
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </div>​
            </form>
        </section>
    </div>​
</div>