@model GenreCreateViewModel

<div class="container py-5 fade-in-up">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="card shadow-lg border-0 rounded-4 card-create">
                <div class="card-body p-4 p-md-5">
                    <h2 class="text-center mb-4 fw-bold">
                        Create <span class="text-success">Genre</span>
                    </h2>
                    <form method="post" asp-action="Create">
                        <div class="mb-5">
                            <label asp-for="Name" class="form-label fw-semibold fs-5">Genre Name</label>
                            <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter genre name" aria-required="true" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>

                        <div class="col-12 mt-4">
                            <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
                                <button type="submit" class="btn btn-success btn-lg rounded-3 px-5 shadow">
                                    Create Genre
                                </button>
                                <a asp-controller="Genre" asp-action="Index"
                                   class="btn btn-outline-warning btn-lg rounded-4 px-4">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}