@model GenreCreateViewModel

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="card shadow-lg border-0 rounded-4 card-create">
                <div class="card-body p-4 p-md-5">
                    <h2 class="text-center mb-4 fw-bold">
                        Create <span class="text-success">Genre</span>
                        <svg viewBox="0 0 640 640" height="50" width="50" class="ms-1">
                            <path fill="rgb(255, 255, 255)" d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                        </svg>
                    </h2>
                    <form method="post" asp-action="Create">
                        <div class="mb-5">
                            <label asp-for="Name" class="form-label fw-semibold fs-6">Genre Name</label>
                            <input asp-for="Name" class="form-control form-control-lg" placeholder="Enter genre name" aria-required="true" />
                            <span asp-validation-for="Name" class="text-danger small"></span>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg rounded-3 px-5 shadow">
                                Create Genre
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}